#wrapper {
  padding-bottom: 40px;
}

header.page-header div {
  margin-bottom: 13px;
}

h3.alt {
  font-style: italic;
}

ul.reference,
ul.reference li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.reference strong {
  display: block;
  padding: 11px 20px;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  background: #dee0e2;
}

ul.reference p {
  margin-bottom: 6px;
  font-size: 16px;
}

ul.reference li.icon {
  margin-top: 10px;
  text-align: center;
}

ul.reference li.result strong {
  font-weight: bold;
  white-space: nowrap;
  background-color: #CAE8E5;
}

.reference i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: no-repeat;
}

i.arrow { background-image: url(../images/arrow-down.png); }
i.plus  { background-image: url(../images/plus.png); }

@media (min-width: 769px) {

  ul.reference {
    display: table-row;
  }

  ul.reference li {
    display: table-cell;
    padding: 13px 0;
  }

  ul.reference strong {
    display: inline-block;
    min-width: 150px;
  }

  ul.reference li.icon {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 9px;
    vertical-align: bottom;
  }

  i.arrow { background-image: url(../images/arrow.png); }

}

.content-block h3 + table {
  margin-top: 33px;
  width: 770px;
}

.content-block td,
.content-block th {
  padding: 0;
  border: none;
}

.content-block td {
  padding: .7em 0;
}

.content-block td.symbol {
  padding: .85em 1.1em 0;
}

.content-block td:last-child strong {
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(40,161,151,0.25);
}

.content-block th {
  font-weight: normal;
}

.col-dark {
  background: #bfc1c3;
}

.col-light {
  background: #dee0e2;
}

.highlight {
  background: rgba(43, 140, 196, 0.25);
}

dd {
  margin-left: 0;
}

dd samp,
td strong {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: #dee0e2;
}

dd samp {
  background: #fff;
  border: grey solid 1px;
}

td strong {
  display: inline-block;
  padding: 11px 20px;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
  min-width: 150px;
}

/* Phase Banner */
.phase-banner {
  max-width: 960px;
  margin: 0 15px;
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .phase-banner {
    padding-bottom: 10px;
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .phase-banner {
    margin: 0 auto;
  }
}

.phase-banner p {
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .phase-banner p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner .phase-tag {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d53880;
}

@media (min-width: 641px) {
  .phase-banner .phase-tag {
    vertical-align: baseline;
  }
}

@media (min-width: 641px) {
  .phase-banner .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner span {
  vertical-align: top;
}

@media (min-width: 641px) {
  .phase-banner span {
    vertical-align: baseline;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \
* html .clearfix { height: 1%; }
.clearfix { display: block; }
*/

p.survey {
  margin-bottom: 1.8em;
  border: 1px solid #ccced0;
  padding: 1em .8em 1em .8em;
}
