{% extends 'base.html' %}

{# saved from https://www.gov.uk/staying-in-touch-with-someone-in-prison/print 2021-02-05 #}

{% block title %}Staying in touch with someone in prison - GOV.UK{% endblock %}

{% block content %}



<div class="gem-c-contextual-breadcrumbs">



<div class="gem-c-breadcrumbs govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
  <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Crime, justice and the law</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Prisons and probation</a>
        </li>
  </ol>
</div>



</div>


    <main role="main" id="content" class="guide" lang="en">

<div class="govuk-grid-row" id="guide-print">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
  <h1 class="gem-c-title__text ">
    Staying in touch with someone in prison
  </h1>
</div>
      <section>
        <h1 class="govuk-heading-l">
          1. Letters, video and telephone calls
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <h2 id="letters">Letters</h2>

<p>You can contact a prisoner by writing to them. Write the person’s prisoner number on the envelope. Normally there’s no limit on the number of letters you can send.</p>

<p>Most letters sent to and from prison are checked by prison staff.</p>

<p>Prisons cannot open letters from solicitors and courts except in special cases, for example if they suspect a letter is not really from a legal adviser.</p>

<p>You can <a href="#">complain to the prison</a> if you think your letters are being read when they should not be, or if your letters are not reaching the prisoner.</p>

<h2 id="video-calls">Video calls</h2>

<p>You can make video calls to people in some prisons using your mobile phone or tablet.</p>

<p>Video calls are free at the moment. This is because of coronavirus (COVID-19).</p>

<p>Calls can last up to 30 minutes. A prisoner is allowed 1 video call a month.</p>

<h3 id="who-can-call">Who can call</h3>

<p>You must be over 18 and on the prisoner’s list of friends and family.</p>

<p>You can invite up to 3 other people (of any age) on the call if they are on the prisoner’s visitor list.</p>

<h3 id="how-to-call">How to call</h3>

<ol class="steps">
<li>
<p>Find out <a href="#">if the prison offers video calls</a>.</p>
</li>
<li>
<p><a href="#">Install an app on your phone or tablet</a> (it can take up to 24 hours for your account on the app to be verified).</p>
</li>
<li>
<p>Check if everyone who wants to join the call is on the prisoner’s list of friends and family.</p>
</li>
<li>
<p>Request a video call using the app or ask the prisoner to request a call.</p>
</li>
<li>
<p>Prison staff will schedule the call and send confirmation by email.</p>
</li>
</ol>
<p>All video calls are recorded. Prison staff may watch video calls while they are happening.</p>

<h2 id="telephone-calls">Telephone calls</h2>

<p>The prisoner has to call you using a prison phone.</p>

<p>They can only call people named on their list of friends and family. This list is checked by security when they first arrive so it may take a few days before they’re able to call.</p>

<p>Prison staff can listen to and record most types of call. Some calls are not monitored, for example when a prisoner calls a legal adviser.</p>

<p>You can also exchange voice messages with a prisoner using the <a rel="external" href="#">Prison Voicemail</a> service.</p>

</div>

      </section>
      <section>
        <h1 class="govuk-heading-l">
          2. Email and social media
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>Prisoners are not allowed to access social networking websites (such as Facebook or Twitter) while they’re in custody.</p>

<p>You cannot email prisoners directly, but you can use a <a rel="external" href="#">service called Email a Prisoner</a>. If you send a message this way, it’ll be printed out and delivered by prison staff. Each email costs 40p and you need to buy credit to use the service.</p>

<p>In some prisons, prisoners can also reply and attach a photo through Email a Prisoner. <a rel="external" href="#">Check which prisons allow replies</a>.</p>

</div>

      </section>
      <section>
        <h1 class="govuk-heading-l">
          3. Banned items
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You must not send or give anything to a prisoner that:</p>

<ul>
  <li>is indecent or obscene</li>
  <li>threatens the security of the prison</li>
  <li>is written in code</li>
</ul>

<p>You must not take anything written by a prisoner that they want to publish and be paid for.</p>

<p>It’s a criminal offence to send or give a prisoner:</p>

<ul>
  <li>illegal drugs</li>
  <li>alcohol</li>
  <li>weapons</li>
  <li>a camera</li>
  <li>a mobile phone</li>
</ul>

<p><a rel="external" href="#">Contact the prison</a> if you’re unsure what you can send or give.</p>

</div>

      </section>
      <section>
        <h1 class="govuk-heading-l">
          4. Sending money
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You can send money to someone in prison by making an <a href="{{ url_for('index') }}">online payment by Visa, Mastercard and Maestro debit card</a>.</p>

<p>The money is paid into the prisoner’s account - a basic cash account they can use to send and receive money.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can no longer send money by bank transfer, cheque, postal order or send cash by post to any prison. You’ll need to use a debit card instead.</p>
</div>

<h2 id="if-you-cannot-make-an-online-payment">If you cannot make an online payment</h2>

<p>You may be able to <a rel="external" href="{{ SEND_MONEY_URL }}/help/apply-for-exemption/">apply for an exemption</a> - for example if you:</p>

<ul>
  <li>are unable to use a computer, a smart phone or the internet</li>
  <li>do not have a debit card</li>
</ul>

<p>This will allow you to send money by post.</p>

<p>You can also find out how to get a debit card by <a rel="external" href="{{ SEND_MONEY_URL }}/help/setup-basic-bank-account/">setting up a basic bank account</a>.</p>

</div>

      </section>
      <section>
        <h1 class="govuk-heading-l">
          5. Visiting someone in prison
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You can normally visit partners and close family members in some prisons. There are restrictions because of coronavirus (COVID-19).</p>

<p>Find out <a href="#">which prisons are open for visits and what you need to do</a>.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can only visit a prisoner if they’ve added you to their visitor list. The prison will contact you once you’re on this list.</p>
</div>

<h2 id="get-help-with-the-cost-of-visiting-someone">Get help with the cost of visiting someone</h2>

<p>You might be able to <a href="#">get help paying for a prison visit</a>, for example travel costs, if you’re receiving certain benefits.</p>

<h2 id="how-often-you-can-visit-someone-in-prison">How often you can visit someone in prison</h2>

<p>A convicted prisoner is usually allowed at least two 1-hour visits every 4 weeks.</p>

<p>A prisoner on remand (waiting for their trial) is allowed three 1-hour visits a week.</p>

<p>You can find out more about the exact rules on visits on the <a href="#">prison information page</a> of the prison you’re visiting.</p>


</div>

      </section>
  </div>
</div>

    </main>

{% endblock %}
