{% extends 'base.html' %}

{# saved from https://www.gov.uk/staying-in-touch-with-someone-in-prison/print #}

{% block title %}Staying in touch with someone in prison - GOV.UK{% endblock %}

{% block content %}

  <div id="wrapper" class="">
        <div class="govuk-breadcrumbs">
  <ol>
    <li>
        <a href="https://www.gov.uk/">Home</a>
    </li>
    <li>
        <a href="https://www.gov.uk/browse/justice">Crime, justice and the law</a>
    </li>
    <li>
        <a href="https://www.gov.uk/browse/justice/prisons-probation">Prisons and probation</a>
    </li>
  </ol>
</div>


      <div class="grid-row">

<main id="content" role="main" class="multi-page">
  <header class="page-header">
    <div>
      <h1>

        Staying in touch with someone in prison
      </h1>
    </div>
  </header>
  <div class="article-container group">

    {% include 'test-badge.html' %}

    <div class="content-block">
      <div class="inner">


<section>
        <h1 class="part-title">
          1. Letters and telephone calls
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <h2 id="letters">Letters</h2>

<p>You can contact a prisoner by writing to them. Normally there’s no limit on the number of letters you can send.</p>

<p>Most letters sent to and from prison are checked by prison staff.</p>

<p>Prisons can’t open letters from solicitors and courts except in special cases, for example if they suspect a letter isn’t really from a legal adviser.</p>

<p>You can complain to the prison if you think your letters are being read when they shouldn’t be, or if your letters aren’t reaching the prisoner.</p>

<h2 id="telephone-calls">Telephone calls</h2>

<p>The prisoner has to call you using a prison phone.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Prison staff can listen to and record most types of call. Some calls aren’t monitored, for example when a prisoner calls a legal adviser.</p>
</div>

<p>You can also exchange voice messages with a prisoner using the <a rel="external" href="https://prisonvoicemail.com/">Prison Voicemail</a> service.</p>

</div>

      </section>
      <section>
        <h1 class="part-title">
          2. The internet and social media
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>Prisoners aren’t allowed to access social networking websites (such as Facebook or Twitter) while they’re in custody.</p>

<p>You can’t email prisoners directly, but some prisons use a service called <a rel="external" href="http://www.emailaprisoner.com/">Email a Prisoner</a>. If you send a message this way, it’ll be printed out and delivered by prison staff.</p>

<p>Each email costs 40p and you need to buy credit to use the service.</p>

<p>In some prisons, prisoners can also reply through Email a Prisoner. <a rel="external" href="http://www.justice.gov.uk/contacts/prison-finder">Contact the prison</a> to find out if they allow this.</p>

</div>

      </section>
      <section>
        <h1 class="part-title">
          3. Banned items
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>You mustn’t send or give anything to a prisoner that:</p>

<ul>
  <li>is indecent or obscene</li>
  <li>threatens the security of the prison</li>
  <li>is written in code</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You mustn’t take anything written by a prisoner that they want to publish and be paid for.</p>
</div>

<p>It’s a criminal offence to send or give a prisoner:</p>

<ul>
  <li>illegal drugs</li>
  <li>alcohol</li>
  <li>weapons</li>
  <li>a camera</li>
  <li>a mobile phone</li>
</ul>

<p><a rel="external" href="http://www.justice.gov.uk/global/contacts/noms/prison-finder/index.htm">Contact the prison</a> if you’re unsure what you can send or give.</p>

</div>

      </section>
      <section>
        <h1 class="part-title">
          4. Sending money
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>You can send money to someone in prison by:</p>

<ul>
  <li>debit card</li>
  <li>online banking</li>
  <li>mobile banking app</li>
  <li>telephone banking</li>
  <li>cheque</li>
  <li>postal order</li>
  <li>cash</li>
</ul>

<h2 id="debit-card">Debit card</h2>

<p>You can <a href="{{ url_for('index') }}">make an online payment</a> by debit card. We accept Visa, Mastercard and Maestro debit cards.</p>

<h2 id="online-banking-mobile-banking-app-or-telephone-banking">Online banking, mobile banking app or telephone banking</h2>

<p><a href="{{ url_for('index') }}">Get bank details and a reference</a> for the prisoner you want to send money to. Once you’ve got this, you can transfer the money using online banking, your mobile banking app or by telephone banking.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Your money won’t reach the prisoner if you make a transfer from a bank branch or a non-UK bank account.</p>
</div>

<h2 id="cheques-postal-orders-and-cash">Cheques, postal orders and cash</h2>

<p>Cheques or postal orders (payable to ‘<abbr title="National Offender Management Service">NOMS</abbr> Agency’) are more secure but you can also send cash.</p>

<p>You should address your envelope to the governor of the prison and your letter should include:</p>

<ul>
  <li>your name and address</li>
  <li>the prisoner’s name and prison number</li>
</ul>

<p>The money is then paid into their prisoner account - a basic cash account they can use to send and receive money.</p>

<h2 id="privately-run-prisons">Privately run prisons</h2>

<p><a rel="external" href="http://www.justice.gov.uk/global/contacts/noms/prison-finder/index.htm">Contact the prison</a> directly if you want to send money to someone in a privately run prison.</p>


</div>

      </section>
      <section>
        <h1 class="part-title">
          5. Visiting someone in prison
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
      <p>You can make an <a href="https://www.gov.uk/prison-visits">online request to visit someone in prison</a> in most cases.</p>

<p>For the prisons you can’t request a visit online you must <a rel="external" href="http://www.justice.gov.uk/global/contacts/noms/prison-finder/index.htm">contact the prison</a> to find out about:</p>

<ul>
  <li>their facilities, for example to check accessibility if you’re disabled</li>
  <li>what happens on the day</li>
</ul>

<p>Prisons have different rules on things like when and how often you can visit - and the number of visitors allowed at the same time.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can only visit a prisoner if they’ve added you to their visitor list. The prison will contact you once you’re on this list.</p>
</div>

<h2 id="get-help-with-the-cost-of-visiting-someone">Get help with the cost of visiting someone</h2>

<p>You might be able to <a href="https://www.gov.uk/help-prison-visits">get help paying for a prison visit</a>, for example travel costs, if you’re receiving certain benefits.</p>

<h2 id="how-often-you-can-visit-someone-in-prison">How often you can visit someone in prison</h2>

<p>A convicted prisoner is allowed at least two 1-hour visits every 4 weeks.</p>

<p>A prisoner on remand (waiting for their trial) is allowed three 1-hour visits a week.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If you live a long way from the prison, you may be able to make longer visits, but less often.</p>
</div>


</div>

      </section>



      </div>
    </div>
    <div class="meta-data group">
    <p class="modified-date">Last updated: 5 February 2019</p>
</div>



  </div>
</main>

      </div>

</div>

{% endblock %}
